.small-container {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin: 10px auto;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    border-radius: 20px;
    width: 20em;   
}

.imagens{
    align-items: center;
    justify-content: space-evenly;
}
.small-container > div > #tamanho-arroba{
    width: 40px;
}

.link-mail{
    text-decoration: none;
}

.small-container > div > #tamanho-zap{
    width: 25px;
    justify-content: center;
}

.small-container h4 {
    justify-items: center;
}

.small-container > div {
    display: flex;   
}
.texto-contatos{
    align-items: center;
    margin-inline: auto;
}
